<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>

<h1>About </h1>
<p>Plus d'infos sur moi ici : <%= link_to 'Guigz', guigz_path %>  </p>
<p>Plus d'infos sur mon navire ici : <%= link_to 'Notre équipage', flibustiers_path %>  </p>



