<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>

<h1>Bienvenue l'ami(e) !</h1>
<p>Ici, c'est la page d'acceuil si t'avais pas remarqué Sherlock.</p>
